.profile__subtitle {
  max-width: calc(520 / 1280 * 100vw);
  font-size: calc(18 / 1280 * 100vw);
  line-height: 1.22;
  color: #fff;
  margin: 0;
  word-wrap: break-word;
  position: relative;
  bottom: calc(10 / 1280 * 100vw);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (min-width: 1281px) {

  .profile__subtitle {
    max-width: 520px;
    font-size: 18px;
    bottom: 10px;
  }

}

@media screen and (max-width: 767px) {

  .profile__subtitle {
    max-width: 100%;
    font-size: calc(14 / 320 * 100vw);
    line-height: 1.21;
    text-align: center;
    bottom: auto;
  }

}
