.trash-button {
  width: 18px;
  height: 19px;
  border: none;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  position: absolute;
  z-index: 2;
  top: 18px;
  right: 15px;
  background-image: url(../../images/trash-button.svg);
  background-size: 100% 100%;
}

.trash-button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
}

.trash-button:not(:hover) {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

@media screen and (max-width: 767px) {

  .trash-button {
    width: calc(25 / 768 * 100vw);
    height: calc(26 / 768 * 100vw);
  }

}

@media screen and (max-width: 399px) {

  .trash-button {
    width: calc(18 / 320 * 100vw);
    height: calc(19 / 320 * 100vw);
  }

}
