.footer__copyright {
  max-width: 100%;
  font-size: calc(18 / 1280 * 100vw);
  line-height: 1.22;
  color: #545454;
  margin: 0;
}

@media screen and (min-width: 1281px) {

  .footer__copyright {
    font-size: 18px;
  }

}

@media screen and (max-width: 767px) {

  .footer__copyright {
    font-size: calc(14 / 320 * 100vw);
    line-height: 1.21;
  }

}
