.popup__field {
  display: flex;
  flex-direction: column;
  position: relative;
}

.popup__field:first-of-type {
  margin-bottom: 13px;
}

.popup__field:last-of-type {
  margin-bottom: 31px;
}

@media screen and (max-width: 767px) {

  .popup__field:last-of-type {
    margin-bottom: 19px;
  }

}
